* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(51,172,175,.3);
  -webkit-tap-highlight-color: transparent;
}

a:visited{
  color: #000000;
}
a:hover{
  color: #000000;
}
a:active{
  color: #000000;
}
::selection{
  color:transparent;
  background-color: transparent;

}
div::selection{
  color:transparent;
  background-color: transparent;
}

html, body {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

ul{
  list-style-type: none;
}

a{
  display: block;
  width: inherit;
  height: inherit;
  font-size: 25px;
  display: block;
  width: inherit;
  height: inherit;
  padding-left: 10px;
  color: #000000;
}
p {
  font-size: 15px;
}
h1{
  text-align: center;
  font-size: 25px;
}
form fieldset input[type="username"], input[type="password"], input[type="email"]{
    margin-left: 10px;
    background-color: #fff;
	border: 1px solid #c7d0d2;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #5a5656;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 14px;
	height: 30px;
	outline: none;
	padding: 0px 10px;
	width: 215px;
	-webkit-appearance:none;
}
form fieldset button[type="submit"], button[type="button"], input[type="button"]{
    margin-left: 10px;
    background-color: #33acaf;
	border: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #f4f4f4;
	cursor: pointer;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 14px;
	height: 35px;
	text-transform: uppercase;
	width: 100px;
	-webkit-appearance:none;
}