html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
a:link,
a:visited {
    color: #000000 !important;
    text-decoration: none;
    cursor: auto;
}
a:link:active,
a:visited:active {
    color: #629ca1 !important;
}
#mediaList {
    padding-top: 01%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0px;
}
#mediaElement {
    padding-top: 1%;
    border-color: #629ca1 !important;
    background-color: white;
    border-radius: 6px;
    border: 3px solid #ccc;
    text-align: center;
    /*
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
*/
}
.hiddenDescription {
    display: none;
    padding-top: 5px;
    border-color: #629ca1 !important;
    background-color: white;
    border-radius: 6px;
    border: 3px solid #ccc;
    text-align: center;
}
.description {
    text-align: left;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;

}
.imgclass {
    width: 100%;
    align-content: center;
}
#mediaTitle {} #image {
    background: url("http://i.imgur.com/EYsg6kM.png") no-repeat top center fixed;
    background-size: contain;
    background-size: 100%;
    background-position: 100% 40px;
    height: 20%;
}
.hidden {
    display: none;
}
img.imagemedia {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
}

.embed-video{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    width: 100%;
}