
form fieldset{
  border: 0;
  width: 300px;
}

#current_url{
  color: #424242;
  vertical-align: middle;
  margin: -10px;
  font-weight: bold;
}
#three-lines{
  vertical-align: middle;
    color: #424242;
  left: -10px;
}
#logo {
  vertical-align: middle;
  height: 30px;
  position: relative;
  left: -8px;
}

#menu-checkbox {
  display: none;
}

#header {
  width: 100%;
  height: 100%;
  position: fixed;
  vertical-align: middle;
  top: 0;
  left: 0;
  z-index: 101;
  height: 50px;
  background-color: #33acaf;
  border opacity: 100%;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);;
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.5);;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.5);;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#menu {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 101;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #eeeeee;
  color: black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  padding: 10px;
  -webkit-box-shadow: 3px 0 2px -2px #000000;
            box-shadow: 3px 0 2px -2px #000000;
}


#mySlideToggler{
  border-bottom: 1px solid #000000;
}
#mySlideContent{
  margin-right: 20px;
  width: 300px;
}
#menu-btn {
  background-color: #transparent;
  border:thin;

  color: #000000;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  left:-8px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#login-div {
  background-color: transparent;
  left:-8px;
  border:thin;
  color: #000000;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  width: 100%;
  clear:both;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  margin-top: 60px;
}

#items {
  width: 100%;
  margin: 0;
  padding: 20px;
}
#items li {
  list-style-type: none;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  min-height: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
}

#menu-checkbox:checked ~ #overlay {
  display: block;
}
#menu-checkbox:checked ~ #menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#menu-checkbox:checked ~ #header #three-lines {
  position: relative;
  left: -10px;
}


.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 20px;
	height: 0;
	overflow: hidden;
}
.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
