form fieldset{
  border: 0;
  margin: 0;
  width: 300px;
}
#current_url{
  color: #424242;
  font-size: 24pt;
  position: absolute;
}
#logo {
  top: 7px;
  height: 35px;
  position: absolute;
  left: 45px;
}

.header {
  width: 100%;
  height: 100%;
  position: fixed;
  vertical-align: middle;
  top: 0;
  z-index: 101;
  height: 50px;
  background-color: #33acaf;
  border opacity: 100%;
}

#overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#menu {
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 101;
  visibility: hidden;
  width: 300px;
  height: 100%;
  background: #eeeeee;
  color: black !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  padding: 10px;
}


#mySlideToggler{
  border-bottom: 1px solid #000000 !important;
}
#mySlideContent{
  margin-right: 20px;
  width: 300px;
}

#menu-btn {
  background-color: #transparent;
  border: thin;
  color: #000000 !important;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  left:-8px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#login-div {
  background-color: transparent;
  left:-8px;
  border:thin;
  color: #000000 !important;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.6em;
  position: relative;
  padding: 0;
  width: 100%;
  clear:both;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {
  margin-top: 60px;
}

#items {
  width: 100%;
  margin: 0;
  padding: 20px;
}
#items li {
  list-style-type: none;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  min-height: 300px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
}

.menu-checkbox {
  display: none;
}
.navbar-brand{
  position: relative;
  float: left;
  width: 80px;
  height: 50px;
  vertical-align: top;
  cursor: pointer;
}
.three-lines{
  position: absolute;
  top: 50%;
  left: 15px;
  width: 25px;
  height: 2px;
  margin: -1px 0 0;
  background: #222;
  border-radius:3px;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  transition: 0.3s linear;
}
.three-lines:before, .three-lines:after{
    content: '';
    position: absolute;
    top: -7px;
    right: 0;
    width: 25px;
    height: 2px;
    background: #333;
    border-radius:3px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    transition: 0.3s linear;
}
.three-lines:after{
  top: 7px;
}

.menu-checkbox:checked ~ #overlay {
  display: block;
}
.menu-checkbox:checked ~ #menu {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.menu-checkbox:checked ~ .header .three-lines {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #333;
}
.menu-checkbox:checked ~ .header .three-lines:before,
.menu-checkbox:checked ~ .header .three-lines:after{
    content: '';
    top: -5px;
    right: -3px;
    width: 14px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.menu-checkbox:checked ~ .header .three-lines:after {
    top: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.user-bg{
  height: 90px;
  align-content: center;
}
.user-pic{
  background: url("../assets/profile-icon.png") no-repeat center center;
  background-size: 100%;
  border-radius: 50%;
  height:90px;
  width:90px;
  position:fixed;
  left:50%;
  margin-left: -50px;
}
.video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 20px;
	height: 0;
	overflow: hidden;
}
.video iframe,  
.video object,  
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
