<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.thirstProject.thirsty"
        versionCode = "10" 
        version     = "1.0.0" >
    
    <name>The Thirst Project</name>
    
    <preference name="permissions"                value="none"/>
    <preference name="phonegap-version"           value="3.5.0"/>
    <preference name="orientation"                value="default"/>
    <preference name="targer-device"              value="universal"/>
    <preference name="android-minSdkVersion"      value="7" />
    <preference name="android-targetSdkVersion"   value="19" />
    <preference name="android-maxSdkVersion"      value="19" />
    <preference name="android-installLocation" value="auto" />
    <preference name="splash-screen-duration" value="3000"/>
    
    <icon src="icon.png" />
    <gap:splash src="splash.png" gap:platform="android" width="710" hieght="410"/>
    <gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
    <gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
    <gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
    <gap:splash src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
    <gap:splash src="fr-xhdpi.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
    <gap:splash src="portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
    <gap:splash src="landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />
    
    
</widget>