%input#menu-checkbox{:type => "checkbox"}

%nav#menu
  Menu
%label#overlay{:for => "menu-checkbox"}

#header
  %label#menu-btn{:for => "menu-checkbox"}
    %span#three-lines &#8801;
    <img id="logo" src="http://donysukardi.com/img/logo.png">

#content  
  %ul#items
    %li #1
    %li #2
    %li #3
    %li #4
    %li #5